@use 'variables';

.event{
    padding: 80px 0;

    &--place{
        background-image: linear-gradient(variables.$purple, variables.$blue);
    }

    &--bring{
        background-image: linear-gradient(variables.$blue, variables.$orange);
    }

    &--presence{
        background-image: linear-gradient(variables.$orange, variables.$blue);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
    }

    &__details{
        &__title{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 16px;
            margin-top: 54px;
            border-bottom: 1px solid variables.$textColor;
        }

        &__descripiton{
            line-height: 22px;
        }
    }

    @media (max-width: 680px){
        .container{
            display: block;
        }

        &__image{
            width: 100%;
        }

        &__details{
            margin-right: 0;
            margin-bottom: 16px;
        }                   
    }
}